[submodule "themes/kayal"]
	path = themes/kayal
	url = https://github.com/mnjm/kayal.git
	branch = main
[submodule "themes/n3s0-hugo"]
	path = themes/n3s0-hugo
	url = https://github.com/n3s0/n3s0-hugo.git
