{{ define "main" }}
  <div class="library-post-content">
    {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">#</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}
</div>


<div class="library-post-content">
  <h2>Reading</h2>
  <p>
    List of books I'm currently reading. These will change over time as I finish them or send them to the depth of my DNF.
  </p>
</div>

{{ partial "books_reading.html" . }}

<div class="library-post-content">
  <h2>Read</h2>
  <p>List of books I have read. I will not provide any recommendations or reviews for the titles listed. This is also not the full extent of the list. Partially because I read them so long ago and I don't remember them.</p>
</div>

{{ partial "books_read.html" . }}

{{ end }}
