.library-post-content {
  margin-top: 10px;  
}

.card {
  transition: 0.3s ease-out, box-shadow 0.3s ease-out;
  box-shadow: 0 4px 8px 0 var(--accent);
  border-radius: 8px;
  width: 100%;
}

.card-link {
  text-decoration: none;
  color: var(--foreground);
}

.card-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 15px;
}

.content-container {
  flex: 3;
  align-self: center;
  margin-right: 20px;
  padding-top: 10px;
}

.card-title {
  position: relative;
  color: var(--foreground);
  margin-top: 10 !important;
  margin-bottom: 10px !important;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: calc(var(--font-size) * 1.40);
  font-weight: bold;
  letter-spacing: 0;
}

.card-description {
  padding-bottom: 10px;
  font-size: calc(var(--font-size) * 1.15);
}

.card-author {
  padding-top: 5px;
  font-weight: bold;
  font-size: calc(var(--font-size) * 1.25);
}

.card-author::before {
  content: "-- ";
}

.book-cover-container {
  flex: 1;
  margin-top: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.book-cover {
  border-radius: 8px;
  height: 271px;
  width: 180px;
}
