:root{
  --ff: "Fira Code",monospace;
  --radius: 6px;
  --primary-color: #292929;
  --secondary-color: #EFEFE6;
  --tertiary-color: #E0002D;
  --link-color: #449DD1;
  --tertiary-color-light: #FFB370;
  --secondary-color-dark: #DFDFCD;
  --black: #292929;
  --code-bg: #272822; /*Monokai*/
  --code-fg: #f8f8f2; /*Monokai*/
  --code-scroll-thumb: #525252;
  --scrollbar-track: #EFEFE6;
  --scrollbar-thumb: #B7B78F;
}

.dark {
  --primary-color: #EFEFE6;
  --secondary-color: #151515;
  --tertiary-color: #0F0;
  --tertiary-color-light: #0F0;
  --link-color: #0F0;
  --secondary-color-dark: #2E5A1C;
  --scrollbar-track: #292929;
  --scrollbar-thumb: #525252;
}

@font-face {
  font-family: "Fira Code",monospace;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FiraCode-Regular.woff2') format('woff2');
}
